/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.mui-1wf8b0h-MuiTabs-flexContainer{
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
}
.mui-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color: var(--yellow) !important;
    opacity: 1 !important;
}
.mui-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    color: var(--white) !important;
    opacity: 0.6;
    text-align: center !important;
    font-family: "Plus Jakarta Sans" !important;
    font-size: 22px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 150% !important; /* 33px */
    letter-spacing: -0.44px !important;
}
.mui-mmst5v{
    background-color: var(--black) !important;
}
.mui-1oi56eo{
    border-color: #90A3BF !important;   
}